* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 0;
}

.logo {
    display: flex;
    border: 6px solid #ee978a;
    border-radius: 6px;
    background-color: #FFB8AD;
    height: 90px
}

.logo h1 {
    font-style: italic;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffe5a8;
    padding: 5px 15px;
}

.section_header {

    background-color: #ffc558;
    text-align: center;
    padding: 5px 10px;

}

.paragraph {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.paragraph_one {
    border: 6px solid #ee978a;
    background-color: #FFB8AD;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
}


.section_two {
    display: flex;
    flex-direction: row;
    gap: 50px;
    background-color: #ffb777;
    border: 6px solid #f8a054;
    border-radius: 6px;
    padding: 100px;
    min-height: 700px;
}

.paragraph_two {
    border: 6px solid #000000;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    text-align: center;
}

.image_one {
    flex: 1;
    border: 6px solid #ee978a;
    height: 800px;
    width: auto;
    text-align: center;
}

.image_one img {

    object-fit: cover;
    width: 100%;
    height: 100%;

}

nav {
    padding: 10px;
}

nav a {
    padding: 15px 10px;
    display: inline-block;
    border: 6px solid #ee978a;
    border-radius: 6px;
    background-color: #FFB8AD;
}

.side_bar {

    background-color: #ffe5a8;
    padding: 30px;

}



body {
    background-color: rgb(255, 255, 255);
}

.footer {
    margin-top: 15px;
    text-align: center;
    background-color: #ffcb52;
    padding: 20px 0 20px 0;
}
