* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 0;
}

.logo {
    display: flex;
    border: 6px solid #ee978a;
    border-radius: 6px;
    background-color: #FFB8AD;
    height: 90px
}

.logo h1 {
    font-style: italic;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffe5a8;
    padding: 5px 15px;
}

.section_header {

    background-color: #ffc558;
    text-align: center;
    padding: 5px 10px;

}

.content {

    display: grid;
    grid-template-columns: 250px 1fr 1fr;
    min-height: 700px;
    gap: 10px;

}

.videos {
    display: flex;
    flex-direction: row;
    gap: 30px;

}

.video_one, .video_two, .video_three {
    border: 2px solid black;
    flex: 1;
}

.videos iframe {
    width: 100%;
    display: block;
}

.content {

    background: #FFB8AD;


}


.side_bar {

    background-color: #ffe5a8;
    padding: 30px;

}


.image_one {

    border: 6px solid black;
    height: 500px;
    width: 600px;
    margin-top: 100px;
    justify-self: center;

}

.image_one img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

}

.paragraph {

    height: 500px;
    width: 750px;
    margin-top: 100px;
    border: 6px solid black;
    background-color: white;
    justify-self: center;

}

.paragraph h2 {
    font-style: italic;
}

.paragraph_one p, .paragraph_one h2 {
    text-align: center;
}



nav {
    padding: 10px;
}

nav a {
    padding: 15px 10px;
    display: inline-block;
    border: 6px solid #ee978a;
    border-radius: 6px;
    background-color: #FFB8AD;
}

body {

    background-color: rgb(255, 255, 255);

}

.footer {

    text-align: center;
    background-color: #ffcb52;
    padding: 20px 0 20px 0;

}
