* {
    box-sizing: border-box;
}

h1 {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;

}

h2 {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;

}

h3 {

     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-size: 20px;

}

p, a {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

a {
    font-style: italic;
}

.container {
    width: 100%;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffe5a8;
    padding: 5px 15px;
}

.logo {
    display: flex;
    border: 6px solid #ee978a;
    border-radius: 6px;
    background-color: #FFB8AD;
    height: 90px
}

.logo h1 {
    font-style: italic;
}

.hero {
    height: 300px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
}

.hero_text {
    width: 500px;
    height: 255px;

    background-color: #FFB8AD;
    border: 5px solid #ee978a;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero_image {
    border: 100px;
    width: 300px;
    height: 250px;
}

.section_header_one {

    background-color: #ffc558;
    text-align: right;
    padding: 5px 10px;

}

.section_header_one h2 {

    background-color: #ffc558;
    text-align: right;
    padding-right: 200px;

}

.content {
    display: grid;
    grid-template-columns: 250px 1fr 350px;
    min-height: 700px;
    gap: 10px;
    background-color: #ffe0db;
}

.paragraph {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.paragraph_one,.paragraph_two {
    border: 6px solid #ee978a;
    border-radius: 14px;
    background-color: #FFB8AD;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
}

.right_content {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 10px;
    min-width: 0;
}

.image_one {
    border: 6px solid black;
    width: 100%;
}

.image_one img {
    width: 100%;
    height: 300px;
    display: block;
}

.fun_facts {
    border: 6px solid black;
    background-color: white;
    width: 100%;
    align-items: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fun_facts h2, .fun_facts p{
    text-align: center;
}

nav {
    padding: 10px;
}

nav a {
    padding: 15px 10px;
    display: inline-block;
    border: 6px solid #ee978a;
    border-radius: 6px;
    background-color: #FFB8AD;
}

.side_bar {

    background-color: #ffe5a8;
    padding: 30px;

}



body {
    background-color: rgb(255, 255, 255);
}

.footer {
    text-align: center;
    background-color: #ffcb52;
    padding: 20px 0 20px 0;
    font-style: italic;
}

