.container {
    width: 100%;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffe5a8;
    padding: 5px 15px;
}

.hero_image p {
    background-color: #FFB8AD;
}

.section_header_one {

    background-color: #ffc558;

}

.paragraph_1 {
    background-color: #FFB8AD;
    padding: 100px;
}

nav {
    background: color #ffbf60;
    padding: 10px;
}

nav a {
    padding: 35px;
    align-items: center;
    background-color: #FFB8AD;
}

.side_bar {
    display: flex;
    background-color: peachpuff;
    height: 10px;

}


body {
    background-color: rgb(255, 255, 255);
}

footer {
    background-color: rgb(255, 191, 0);
}

.side_bar {
    width: 200px;
    padding: 40px;
}